%montserrat-regular {
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 400;
}

%montserrat-semibold {
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 600;
}

%bodoni-regular {
    font-family: 'BodoniFLF-Roman';
    font-weight: 400;
}

%sans-semi{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

$txt-red:#cc3333;

$color-twine: #C3A463;
$color-soya-bean: #676256;
$color-mine-shaft: #3D3939; 
$color-tundora: #434343;