@import 'core/module';
@import 'components/module';
@import 'views/module';
@import 'libs/module';

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0;
    &--med{
        width: 100%;
        max-width: 1668px;
        padding: 0 15px;
    }
}