.footer__bottom-row {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    @include mq('tablet-small') {
        & {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}