.footer__nav {
    margin-bottom: 51px;
    min-width: 246px;

    li:not(:last-of-type) {
        margin-bottom: 15px
    }
    a {
        @extend %montserrat-semibold;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }
}