.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 120px;
    top: 0;
    left: 0;
    z-index: 50;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent;
        z-index: 2;
    } 

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 13px 74px;

        @extend %montserrat-regular;
        color: white; 
    }

    @include mq('tablet-wide') {
        & {
            background: white;

            &::before {
                background: white;
            }
        }
    }
}
